.square {
  width: 30px;
  height: 30px;
  border-radius: 15%;
  &:hover {
    background-color: white;
  }
  background-color: whitesmoke;
  margin:1px;
}

.alive-true{
  background-color:$off-purple;
}

