.square {
  width: 17px;
  height: 17px;
  border-radius: 15%;
  &:hover {
    background-color: white;
  }
  background-color:darken( whitesmoke, 15%);
  margin:0.5px;

  @media(max-width: $break-small) {
      width: 10px;
      height: 10px;
      margin:0px;
  }
}

.alive-true{
  background-color:$off-purple;
}

